@font-face {
    font-family:'Raleway';
    src: url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', Courier, monospace;
}



body {
    margin: 0;
    background: url(./images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav,
footer {
    background-color: #2196F3;
    color:white;
    font-size: 20px;
    padding: 1px;
}
/***************Nav Bar*****************/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links{
    display: flex;
}

nav h1{
    margin: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding:0;
}

nav ul li {
    float: right;
    display: inline;
    padding: 10px;
}

/*****************Bio***************/
.bio .bio-img {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding: 100px;
}

.bio .name, .bio .description{
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.bio .name{
    font-size: 60px;
}

.headline {
    background-color: white;
    width: 500px;
    margin: 30px auto;
}

.projects {
    background-color: white;
    width: 750px;
    margin: 0 auto;
    padding: 10px;
}

.projects .proj-card {
    background-color: lightgrey;
    padding: 5px
}

.projects .proj-title {
    width: 550px;
    height: 20px;
    background: white;
    margin: 20px auto;
}

.projects .proj-img {
    width: 650px;
    height: 350px;
    background: white;
    margin: 0 auto;
}

.projects .proj-desc {
    width: 500px;
    height: 100px;
    background: white;
    margin: 15px auto;
}

.projects .proj-links {
    width: 500px;
    height: 20px;
    background: white;
    margin: 15px auto;
}

section {
    min-height: 300px;
    
}